/profitulo-a4.aux
/profitulo-a4.log
/profitulo-a4.out
/profitulo-a4.pdf
/profitulo-a5.aux
/profitulo-a5.log
/profitulo-a5.out
/profitulo-a5.pdf
/profitulo-libreto.pdf
/revisio.tex
/zeeland.eps
/profitulo.epub
